<%= form_with(model: user, local: true) do |form| %>
  
  <%= select("event", "event_id") do %>
    <% @events.each do |c| %>
      <%= content_tag(:option, c.title, value: c.id) %>
    <% end %>
  <% end %>
  
  <%= select("user", "user_id") do %>
    <% @users.each do |c| %>
      <% unless c.id == @current_user.id  %>
        <%= content_tag(:option, c.name, value: c.id) %>
        <% end %>
     <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
