<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Private Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Events', events_path, class: "nav-item nav-link" %>
      <%= link_to 'Invite People', invites_path, class: "nav-item nav-link" %>
      <% if session[:id].nil? %>
        <%= link_to 'Log in', sessions_path, class: "nav-item nav-link" %>
      <% else %>
      <%#= session[:id] %>
        <%= link_to 'Log out', session_path(session), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "nav-item nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
